<h2 mat-dialog-title>Show Extracurricular</h2>
<mat-dialog-content class="mat-typography" *ngIf="row">
  <mat-form-field class="form-first" appearance="outline">
    <mat-label>Name</mat-label>
    <input
      matInput
      placeholder="Name"
      value="{{ row.name }}"
      readonly
    />
  </mat-form-field>

  <mat-form-field class="form-first" appearance="outline">
    <mat-label>Start Date</mat-label>
    <input
      matInput
      placeholder="Start Date"
      value="{{ convertDate(row.startDate) }}"
      readonly
    />
  </mat-form-field>

  <mat-form-field class="form-first" appearance="outline">
    <mat-label>End Date</mat-label>
    <input
      matInput
      placeholder="End Date"
      value="{{ convertDate(row.endDate) }}"
      readonly
    />
  </mat-form-field>

  <mat-form-field class="form-first" appearance="outline">
    <mat-label>Registration Start Date</mat-label>
    <input
      matInput
      placeholder="Registration StartDate"
      value="{{ convertDate(row.registrationStartDate) }}"
      readonly
    />
  </mat-form-field>

  <mat-form-field class="form-first" appearance="outline">
    <mat-label>Registration End Date</mat-label>
    <input
      matInput
      placeholder="Registration End Date"
      value="{{ convertDate(row.registrationEndDate) }}"
      readonly
    />
  </mat-form-field>

  <mat-form-field class="form-first" appearance="outline">
    <mat-label>Location</mat-label>
    <input
      matInput
      placeholder="Location"
      value="{{ row.location }}"
      readonly
    />
  </mat-form-field>

  <mat-form-field class="form-first" appearance="outline">
    <mat-label>Description</mat-label>
    <input
      matInput
      placeholder="Description"
      value="{{ row.description }}"
      readonly
    />
  </mat-form-field>

  <mat-form-field class="form-first" appearance="outline">
    <mat-label>Quota</mat-label>
    <input
      matInput
      placeholder="Quota"
      value="{{ row.quota }}"
      readonly
    />
  </mat-form-field>

  <mat-form-field class="form-first" appearance="outline">
    <mat-label>Mentor Name</mat-label>
    <input
      matInput
      placeholder="Mentor Name"
      value="{{ row.mentor.name }}"
      readonly
    />
  </mat-form-field>

  <mat-form-field class="form-first" appearance="outline">
    <mat-label>Mentor Email</mat-label>
    <input
      matInput
      placeholder="Mentor Email"
      value="{{ row.mentor.email }}"
      readonly
    />
  </mat-form-field>

</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button color="accent" mat-dialog-close>Close</button>
</mat-dialog-actions>
